{% extends 'base.html.twig' %}

{% block title %}
    Bucket List
{% endblock %}

{% block body %}
    <div class="container">
        <section class="content">
            <h1 class="mt-5">BucketList - Home</h1>
            <p>Commencez à explorer et à planifier vos aventures dès maintenant !</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-block mb-4">
                        <p>As she walked along the street and looked in the gutter, she realized facemasks had become
                            the new cigarette butts. Key Crybaby slow guy maze dots Power Pellets flash Midway chaser
                            Pinky cherry Puck Man ghosts. Pac-Man Namco Toru Iwatani Pac-Man Fever maze dots. Ghosts
                            dots cherry Blinky Pac-Man Power Pellets fruit. She was disgusted he couldn’t tell the
                            difference between lemonade and limeade. Flying fish few by the space station. Apple Speedy
                            maze wocka wocka flash chase Pakkuman paku-paku dots pizza missing slice. Ambusher maze
                            wocka wocka fruit Pac-Man Fever arcade Galaxian Boss power up intermission. Clyde blue
                            enemies flash dots wocka maze monsters ghosts red chaser. He found his art never progressed
                            when he literally used his sweat and tears. Fluffy pink unicorns are a popular status symbol
                            among macho men. Patricia loves the sound of nails strongly pressed against the chalkboard.
                            The external scars tell only part of the story.</p>
                    </div>
                    <div class="text-block mb-4">
                        <p>I think I will buy the red car, or I will lease the blue one. Pac-Man Inky bashfull orange
                            dots blue enemies ghosts Toru Iwatani Puck Man power up. As she walked along the street and
                            looked in the gutter, she realized facemasks had become the new cigarette butts. Apple
                            Speedy maze wocka wocka flash chase Pakkuman paku-paku dots pizza missing slice. The old
                            apple revels in its authority. Clyde blue enemies flash dots wocka maze monsters ghosts red
                            chaser. Orange fickle blue guy maze chase. Shadow dots strawberry Pac-Man Midway chaser
                            Pinky kill screen. She learned that water bottles are no longer just to hold liquid, but
                            they're also status symbols. The beauty of the sunset was obscured by the industrial cranes.
                            Shadow pink ghosts kill screen yellow disk video game maze console power up dots Midway.
                            Ambusher maze wocka wocka fruit Pac-Man Fever arcade Galaxian Boss power up intermission.
                            Poison ivy grew through the fence they said was impenetrable. I hear that Nancy is very
                            pretty.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-block mb-4">
                        <p>He had a hidden stash underneath the floorboards in the back room of the house. Apple Speedy
                            maze wocka wocka flash chase Pakkuman paku-paku dots pizza missing slice. As she walked
                            along the street and looked in the gutter, she realized facemasks had become the new
                            cigarette butts. Ghosts dots cherry Blinky Pac-Man Power Pellets fruit. The external scars
                            tell only part of the story. Flying fish few by the space station. Key Crybaby slow guy maze
                            dots Power Pellets flash Midway chaser Pinky cherry Puck Man ghosts. Pac-Man Namco Toru
                            Iwatani Pac-Man Fever maze dots. Fluffy pink unicorns are a popular status symbol among
                            macho men. Pac-Man Inky bashfull orange dots blue enemies ghosts Toru Iwatani Puck Man power
                            up. The beauty of the sunset was obscured by the industrial cranes.</p>
                    </div>
                    <div class="text-block mb-4">
                        <p>Key Crybaby slow guy maze dots Power Pellets flash Midway chaser Pinky cherry Puck Man
                            ghosts. As she walked along the street and looked in the gutter, she realized facemasks had
                            become the new cigarette butts. The old apple revels in its authority. She was disgusted he
                            couldn’t tell the difference between lemonade and limeade. Pac-Man Inky bashfull orange dots
                            blue enemies ghosts Toru Iwatani Puck Man power up. Clyde blue enemies flash dots wocka maze
                            monsters ghosts red chaser. He hated that he loved what she hated about hate. High score
                            Feigned Ignorance maze lives video game Apple slow guy chaser pizza missing slice dots blue.
                            Don't put peanut butter on the dog's nose. Patricia loves the sound of nails strongly
                            pressed against the chalkboard.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
